services:
    db:
        image: mysql:8.0
        container_name: symfony-db
        restart: always
        environment:
            MYSQL_DATABASE: ${MYSQL_DATABASE:-symfony_db}
            MYSQL_USER: ${MYSQL_USER:-symfony_user}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD:-password}
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-root_password}
        ports:
            - "3307:3306"
        volumes:
            - db_data:/var/lib/mysql
        networks:
            - symfony-net

    php:
        build:
            context: ./docker/php
        user: "${UID}:${GID}"
        container_name: symfony-php
        volumes:
            # Mount the current directory to /var/www/symfony in the container
            - ./:/var/www/html
        depends_on:
            - db
        networks:
            - symfony-net

    nginx:
        image: nginx:alpine
        container_name: symfony-nginx
        ports:
            - "88:80"
        volumes:
            - ./:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php
        networks:
            - symfony-net

    ###> doctrine/doctrine-bundle ###
    database:
        image: postgres:${POSTGRES_VERSION:-16}-alpine
        environment:
            POSTGRES_DB: ${POSTGRES_DB:-app}
            # You should definitely change the password in production
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
            POSTGRES_USER: ${POSTGRES_USER:-app}
        healthcheck:
            test: [ "CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-app}" ]
            timeout: 5s
            retries: 5
            start_period: 60s
        volumes:
            - database_data:/var/lib/postgresql/data:rw
            # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
            # - ./docker/db/data:/var/lib/postgresql/data:rw
    ###< doctrine/doctrine-bundle ###
    elasticsearch:
        image: elasticsearch:8.11.1
        container_name: es01
        environment:
            - discovery.type=single-node
            - xpack.security.enabled=false
            - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
        volumes:
            - esdata:/usr/share/elasticsearch/data
        ports:
            - "9200:9200"
        networks:
            - elastic-net

    kibana:
        image: kibana:8.11.1
        container_name: kibana01
        environment:
            - ELASTICSEARCH_HOSTS=http://es01:9200
        ports:
            - "5601:5601"
        depends_on:
            - elasticsearch
        networks:
            - elastic-net


networks:
    symfony-net:
        driver: bridge
    elastic-net:
        driver: bridge

volumes:
    db_data:
    esdata:
        driver: local

    ###> doctrine/doctrine-bundle ###
    database_data:
###< doctrine/doctrine-bundle ###
